body {
    background-color: #2c3e50;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

.result-container {
    background-color: #233342;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-large {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.setting {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.strength-container {
    margin-top: 15px;
}

.strength-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

#strengthIndicator {
    height: 100%;
    width: 50%;
    background-color: orange;
    transition: width 0.3s, background-color 0.3s;
}

.btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn:active {
    transform: translateY(0);
}